
.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
    font-family: 'Taviraj', serif;
}

body {
    background-color: lightgray;
}

.page {
    width: 1100px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 80%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

/* Rounded border */
.hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
  }

.title {
	color: #006400;
	font-size: 250%
}

.greta {
font-family: 'Italianno', cursive;
font-size: 175%;
}

.annotation {

    left: 710px;
    bottom: 100000px;

}